body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

h1 {
    position:relative;
    left:20px;
    font-family: "Calibri Light", sans-serif;
}

body{
    background-color: #DCDCDC;
}

.link{
    position:relative;
    left:35px;
    top:10px;
    color: #002aff;
    font-family: "Calibri", sans-serif;
    font-size: 18px;
}

/*center align*/
.footnotea{
    position:absolute;
    bottom:14px;
    right:50px;
    color: #000000;
    text-align:center;
    vertical-align: center;
    font-family: "Calibri B", sans-serif;
    font-size:16px
}

.footnotep{
    position:absolute;
    bottom:2px;
    width:100%;
    text-align:center;
    font-family: "Calibri", sans-serif;
    font-size:14px
}

#footnoteImage{
    position:absolute;
    bottom:10px;
    right:10px;
    width:30px;
    height:30px;
}

a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a:active{
    text-decoration: underline;
}

.topdivider{
    width:98%;
}


