body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

h1 {
    position:relative;
    left:20px;
    font-family: "Calibri Light", serif;
}

body{
    background-color: #DCDCDC;
}

a{
    position:relative;
    top:10px;
    left:40px;
    font-family: "Calibri Light", serif;
}

.footnotep{
    position:absolute;
    bottom:5px;
    right:25px;
    font-family: "Calibri Light", serif;
}

.footnotea{
    position:absolute;
    bottom:5px;
    right:25px;
    font-family: "Calibri Light", serif;
}
