/*

Tooplate 2122 Nano Folio

https://www.tooplate.com/view/2122-nano-folio

*/

html { overflow-x: hidden; }

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 2em;
    overflow-x: hidden;
}

h1, h2, p, i, address { color: white; }


.tm-container-fluid {
    width: 100%;
    max-width: 970px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 60px 15px;
}

.tm-site-header { height: 470px; }

.tm-flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.tm-mb-50 { margin-bottom: 50px; }
.tm-bgcolor-1 { background-color: #F96699; }
.tm-border-rounded { border-radius: 15px; }